<!DOCTYPE html>
<head>
    <title> 
        test-api (local server)
    </title>
<body>
    <div class="container">
    <h1>Slic Server</h1>
    <h2>image upload</h2>
    {% if src %}
        <div>
            <img src= "{{ src }}" width="50%" height="50%">
        </div>
    
        <div>
            <h1>{{ pred }}</h1>
        </div>
    {% endif %}
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="submit">
    </form>
    </div>
</body>
</head>